<%= link_to 'Back', projects_path, class: "btn btn-primary" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">  
    <div class="panel panel-default">
      <div class="panel-heading center"><h3><%= @project.name %></h3></div>
          <div class="panel-body">
             <div class="col-md-6">
        <%= image_tag @project.finished_image.url(:medium), class: "img-thumbnail"  %>
  </div>

  <div class="col-md-4">
    <p><strong><%= @project.width %> cm by <%= @project.height %> cm</strong><p>
    <p>Stitched on <%= @project.fabric_count %> count <%= @project.fabric_colour %> <%= @project.fabric_type %> using <%= @project.thread_type %> threads.</p>
    <% if @project.user == current_user %>
<%= link_to 'Edit', edit_project_path(@project) %> 
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-offset-2 col-md-8"> 
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <button type="button" class="btn btn-primary">Add a New Update</button>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <%= form_for([@project, @project.updates.build]) do |f| %>
  <p>
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>  
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">  
    <div id="projects" class="transitions-enabled">
      <% @project.updates.each do |update| %>
      <div class="box">
        <h3 class="center"><%= update.hours %> hours on <%= update.created_at.strftime("%b %d, %Y") %> </h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
