<%= link_to 'Back', projects_path, class: "btn btn-primary" %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">  
    <div class="panel panel-default">
      <div class="panel-heading center"><h3><%= @project.name %></h3></div>
          <div class="panel-body">
             <div class="col-md-6">
        <%= image_tag @project.finished_image.url(:medium), class: "img-thumbnail"  %>
  </div>

  <div class="col-md-4">
    <p><strong><%= @project.width %> cm by <%= @project.height %> cm</strong><p>
    <p>Stitched on <%= @project.fabric_count %> count <%= @project.fabric_colour %> <%= @project.fabric_type %> using <%= @project.thread_type %> threads.</p>
    <% if @project.user == current_user %>
<%= link_to 'Edit', edit_project_path(@project) %> 
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>